In [1]:
import  time

In [5]:
start = time.time()
liste = []
for i in range(10):
    liste.append(i**2)
print(liste)
end = time.time()
print(end-start)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
0.017987489700317383

In [7]:
start = time.time()
liste = [i**2 for i in range(10)]
print(liste)
end = time.time()
print(end-start)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
0.001997709274291992

# Dictionnaires

In [8]:
prenoms = ['Michel', 'Edgar', 'Mandou', 'Marie Pierre', 'Jacques']
ages = [15, 14, 17, 22, 23]

In [9]:
ages[::-1]

[23, 22, 17, 14, 15]

In [11]:
ages.sort()
ages # class√© ordre croisant

[14, 15, 17, 22, 23]

In [18]:
ages = ages[::-1]

In [19]:
liste_affectation ={prenom:age for prenom, age in zip(prenoms, ages)}

In [20]:
liste_affectation

{'Michel': 23, 'Edgar': 22, 'Mandou': 17, 'Marie Pierre': 15, 'Jacques': 14}

# TP

In [22]:
nombre = [i for i in range(10)]
nombre_carre = [i**2 for i in range(10)]

In [23]:
tableau = {n:c for n, c in zip(nombre, nombre_carre)}

In [24]:
tableau

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [21]:
tableau1 = {i:i**2 for i in range(0,10)}
tableau1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Tuple

In [26]:
tuple_1 = tuple((i**2 for i in range(10)))
tuple_1

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)